html, body {
    box-sizing: border-box;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;

}
body {
    position: relative;
}
#myNavbar {
    padding-left: 0px;
    height: 20px !important;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar {
    border: 0px !important;
    min-height: 40px !important;
}
.navbar a {
    color: #CEBCED !important;
    font-weight: bold;
}
.navbar li:hover {
    text-decoration: underline;
    color: brown;
}
.nav > li > a {
    padding: 0px 10px 0px 10px;
}
.navbar-contener {
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 90px;
}
.open li {
    font-style: oblique;
}
.login {
    margin-bottom:5px;
}
.custom-form {
    background-color: brown !important;
    border-color: #1c1313;
}
.custom-form form div {
    margin: 10px;
}
.fa-2x {
    vertical-align: middle;
}
.dropdown-menu {
    background-color: #1c1313 !important;
    width: 100%;
    margin-top: -3px;
    border-color: #251b01;
    border-top: #251b01 3px solid;
}
.dropdown-menu > li{
    color: brown;
    font-weight: bold;
    font-style: normal;
}
.dropdown-menu > li:hover {
    background-color: #21064C !important;
    text-decoration: underline;
    font-weight: bold !important;
}
.dropdown-menu > li > a, a:hover, a:focus {
    background: inherit !important;
    color: brown;
}
.dropdown-menu > li > a:hover {
    background-color: #21064C !important;
    font-weight: bold;
    text-decoration: underline;
}
.dropdown-menu > li > a:focus {
    font-style: normal !important;
    text-decoration: none !important;
}
.nav .open > a {
    border-radius: 10px 10px 0px 0px;
    padding: 10px !important;
}
.nav .open > a:hover {
    background: inherit !important;
}
.nav .open > a, .nav .open > a:focus {
    background: #1c1313 !important;
    border-bottom: 0px;
}
.admin_input {
    background-color: black;
    color: white;
}
.admin_span {
    width: 25% !important;
}
.admin-text {
    color: white;
}
.form_margin {
    margin-bottom: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
}
input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.item-div {
    border: 1px black solid;
    margin-top: 10px;
    padding-top: 10px;
    max-height: 300px;
}
/*
.item-div > img {
    height: 200px;
    width: 100%;
    z-index: 100;
    transition: transform .2s;
}

.item-div > img:hover{
    transform: scale(1.1);
    z-index: 101;
}
*/
.item-name {
    border-top: 1px black solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.front > img {
    height: 100%;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

.back > img {
    height: 100%;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

.pagination > .active > span {
    background-color: #59422c !important;
    border: 1px solid #d1d13c !important;
}

.pagination > li > a:hover {
    background-color: #8e6d2c !important;
    color: #890000;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .flip-container {
        height: 140px !important;
    }
    .flipper {
        height: 140px !important;
    }
    .item-img {
        height: 150px !important;
    }
}