html, body {
    box-sizing: border-box;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;

}
body {
    position: relative;
}
#myNavbar {
    padding-left: 0px;
    height: 20px !important;
}

.dropdown-submenu {
	background-color: #1c1313;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar {
    border: 0px !important;
    min-height: 40px !important;
}
.navbar a {
    color: white !important;
    font-weight: bold;
}
.navbar li:hover {
    text-decoration: underline;
    color: brown;
}
.nav > li > a {
    padding: 10px 10px 10px 10px;
}
.navbar-contener {
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 90px;
}
.open li {
    font-style: oblique;
}
.login {
    margin-bottom:5px;
}
.custom-form {
    background-color: brown !important;
    border-color: #1c1313;
}
.custom-form form div {
    margin: 10px;
}
.fa-2x {
    vertical-align: middle;
}
.dropdown-menu {
    background-color: #1c1313 !important;
    width: 100%;
    margin-top: -3px;
    border-color: #251b01;
    border-top: #251b01 3px solid;
    border-radius: 0px;
}
.dropdown-menu > li{
    color: brown;
    font-weight: bold;
    font-style: normal;
}
.dropdown-menu > li:hover {
    background-color: #21064C !important;
    text-decoration: underline;
    font-weight: bold !important;
}
.dropdown-menu > li > a, a:hover, a:focus {
    background: inherit !important;
    color: brown;
}
.dropdown-menu > li > a:hover {
    background-color: #21064C !important;
    font-weight: bold;
    text-decoration: underline;
}
.dropdown-menu > li > a:focus {
    font-style: normal !important;
    text-decoration: none !important;
}
.nav .open > a {
    border-radius: 10px 10px 0px 0px;
    padding: 10px !important;
}
.nav .open > a:hover {
    background: inherit !important;
}
.nav .open > a, .nav .open > a:focus {
    background: #1c1313 !important;
    border-bottom: 0px;
}
.admin_input {
    background-color: black;
    color: white;
}
.admin_span {
    width: 25% !important;
}
.admin-text {
    color: white;
}
.form_margin {
    margin-bottom: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
}
input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.item-div {
    padding-top: 10px;
}
/*
.item-div > img {
    height: 200px;
    width: 100%;
    z-index: 100;
    transition: transform .2s;
}

.item-div > img:hover{
    transform: scale(1.1);
    z-index: 101;
}
*/
.item-name {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px !important;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.front > img {
    height: 100%;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

.back > img {
    height: 100%;
    padding: 0px;
    width: 100%;
    max-width: 100%;
}

.pagination > .active > span {
    background-color: #59422c !important;
    border: 1px solid #d1d13c !important;
}

.pagination > li > a:hover {
    background-color: #8e6d2c !important;
    color: #890000;
}
.view_item_img {
    height: 160px !important;
    max-width: 250px !important;
}
.dropdown-menu {
    margin: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
    top: 0;
    left: 100%;
    display: block;
}

/* SQUARED ONE */
.squaredOne {
    width: 28px;
    height: 28px;
    background: #fcfff4;
    display: inline-block;
    padding-top: 2px;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.squaredOne label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #00bf00;

    background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
    background: linear-gradient(top, #00bf00 0%, #009400 100%);

    top: 2px;
    left: 2px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.is-sticky > div {
    z-index: 1000 !important;
}

.select2-selection {
    background-color: black !important;
    color: white !important;
}

.select2-search__field {
    background-color: black !important;
    color: white !important;
}

.select2-results__option {
    background-color: black !important;
    color: white !important;
}

.select2-results__option:hover {
    background-color: grey !important;
    color: white !important;
}

.select2-selection__rendered {
    color: white !important;
}


.select2-search--dropdown {
    background-color: black !important;
    color: white !important;
}

.mobile-nav-link > div > a {
    padding: 10px;
}

.padding_fix {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .flip-container {
        height: 140px !important;
    }
    .flipper {
        height: 140px !important;
    }
    .item-img {
        height: 150px !important;
    }
    .main-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .border-none {
        border: none !important;
    }
    .mobile-m-0 {
        margin-top: 0px !important;
    }
    .mobile-p-10 {
        padding: 10px;
    }
    .mobile-p-bt-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .auto-height {
        height: auto !important;
    }
    .padding_fix_mobile {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .mobile-auto-height {
        min-height: auto !important;
    }
    .mobile-font-20 {
        font-size: 18px !important;
        font-weight: 600;
        padding-top: 10px !important;
    }
    #myNavbar {
        height: auto !important;
        width: 100% !important;
        padding-right: 0px !important;
    }
    .mobile-nav-link {
        width: 100% !important;
        padding: 3px !important;
    }
    .caret-hide {
        display: none;
    }
    .mobile-navbar {
        display: block !important;
        padding-left: 15px !important;
        padding-right: 0px !important;
        width: 100% !important;
        z-index: 10;
    }
    .mobile-nav-link {
        margin: 10px 0px 10px 0px !important;
    }
    .mobile-nav-link > div > a {
        margin: 25px 25px 25px 0px !important;
    }
    .mobile-nav-main {
        padding-left: 10px !important;
    }
    .mobile-text-improve {
        font-weight: 800 !important;
        font-size: 20px !important;
        text-decoration: underline !important;
    }
    .mobile-p-b-30 {
        padding-bottom: 30px !important;
    }
    .font-18 {
        font-size: 18px !important;
    }
    .front > img {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 100% !important;
    }
    .back > img {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    #sticky-sticky-wrapper {
        z-index: 100 !important;
    }
}